.primary_btn{
    padding: 14px 12px;
    background-color: black;
    color: white;
    min-width: 220px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: all .2s ease-in-out;
}
.primary_btn:hover{
    box-shadow: 2px 2px 2px rgb(133, 133, 133);
}

.outline_btn{
    padding: 14px 12px;
    border: 1.5px solid black;
    color: black;
    min-width: 220px;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.outline_btn:hover{
    box-shadow: 2px 2px 2px rgb(133, 133, 133);
}