.form_control{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.form_control input{
    height: 38px;
    padding: 0 8px;
    border-radius: 8px;
    border: 1px solid black;
}

.form_control label{
    position: absolute;
    top: -10px;
    left: 12px;
    background-color: white;
    padding: 0 3px;
    font-size: 14px;
    border-radius: 2px;
}

.form_control textarea{
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 14px;
}