.contact_section{
    margin-block: 2rem;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact_section h1{
    font-size: 48px;
    font-weight: 800;
}
.contact_section p{
    font-weight: 500;
}