.navigation{
  display: flex;
  justify-content: space-between;
  justify-self: center;
  height: var(--nav-height);
  padding: 0 20px;
  box-shadow: 0px 2px 2px rgb(119, 119, 119);
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(15px);
}

.navigation ul{
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: flex-end;
}
.navigation li{
  cursor: pointer;
  font-weight: 500;
}