
*{
    margin: 0;
}

:root{
    --nav-height: 50px;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
}

.main_container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100vh;
    margin-top: 6rem;
    padding: 0 20px;
    /* background-color: pink; */
}








